global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Enable DEBUG logs
log:
  level: DEBUG

# Enable access logs
accessLog: {}

api:
  dashboard: true

entryPoints:
  web:
    address: :80
  websecure:
    address: :443

providers:
  docker:
    exposedByDefault: false
    network: web
  file:
    filename: /etc/traefik/dynamic_conf.yml

certificatesResolvers:
  tlsResolver:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "acme.json"
      httpChallenge:
        entryPoint: "web"

