[deploy-server]
example.org

[deploy-server:vars]
ansible_user=admin
base_domain=example.org
traefik_dir=/root/traefik
traefik_api_url="traefik.{{ base_domain }}"
deploy_url="deploy.{{ base_domain }}"
target_app_dir=/root/dynamic_deploy
traefik_api_user=traefik
traefik_api_password=traefik_passwd
dynamic_deploy_user=deploy
dynamic_deploy_password=deploy_passwd
dynamic_deploy_number_of_rq_workers=1
redis_data_dir=/var/lib/redis
data_dir=/root
traefik_acme_email=email@example.com
grafana_admin_user=grafana
grafana_admin_password=grafana_passwd
platform=linux/amd64
debug_mode=false


[registry-server]
example.org
```